:root {

--aspectW: 2209;
--aspectH: 1242;

/* --cardWsize: 40vw;
--sizeFactor: calc(var(--cardWsize) / var(--aspectW));
--cardHsize: calc(var(--aspectH) * var(--sizeFactor)); */


--cardHsize: 40vh;
--sizeFactor: calc(var(--cardHsize) / var(--aspectH));
--cardWsize: calc(var(--aspectW) * var(--sizeFactor));



}

* {
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
}

.cardBoard {
width: 100vw;
height: 100vh;
/* border: 2px dashed burlywood; */
position: relative;
/* left:1em;
top: 1em; */

/* box-shadow: darkgrey 1em 1em; */

transform-style: preserve-3d; 

transform-origin: center;
transition: 0.5s;
}

.card {

    width: var(--cardWsize);
    height: var(--cardHsize);
    
    margin: 0 auto;

    position: relative;
    left:2em;
    top: 2em;


    transform-style: preserve-3d; 
    transform-origin: center;
    transition: 2.5s;
}

.cardFront.landscape, .cardBack.landscape {

    width: var(--cardWsize);
    height: var(--cardHsize);

}

.cardFront {
    background-size: contain;
    background-repeat: no-repeat;
}

/* .cardFront.portrait, .cardBack.portrait {
    width: var(--cardHsize);
    height: var(--cardWsize);
} */

.cardFront, .cardBack {

/* display: inline-block;

position: absolute; */


transform-origin: center;
transform-style: preserve-3d; 

backface-visibility: hidden;
-webkit-backface-visibility: hidden;  


transition: 0.5s;
}


.cardFront {
z-index: 20;
background-color: black;
}

.cardBack {
    background-color: white;
    z-index: -20;
}




.cardFront, .cardBack {

    box-shadow: none;
    border-radius: 0;
    border: darkslateblue 1px solid;
    /* border: fuchsia 6px dotted; */

}

.cardFront {
    /* border-right: none;
     */

        border-bottom: none;


}

.cardBack {
    transform: rotateY(0deg);
    /* transform: translateX(var(--cardWsize)); */

    /* transform: translateY(var(--cardHsize)); */
}


.rotateR {
    transform: rotate(90deg);
}

article.cardBack {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    padding: 0.2rem 0 0 1rem;
}

article.cardBack h1 {
    font-size: 2rem;
    line-height: 3rem;
}

article.cardBack h3 {
    font-size: 1.2rem;
    line-height: 2rem;
}

article.cardBack p {
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 1.2rem;
}

.card.offLeft{
    transform-origin: top left;
    transform: rotateY(90deg);
    /* translate: calc(-0.8 * var(--cardWsize)); */
}

.card.offRight{
    transform-origin: top right;
    transform: rotateY(90deg);
    /* translate: calc(0.8 * var(--cardWsize)); */
}